/nbproject/private/
/build/
/dist/

*.properties
nbproject/project.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/private/configs/Run_in_Browser.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.properties
