
.root
{
   
   -fx-background-image: url('/assets/full_background.png');
   -fx-background-size:cover;
}

#singleBtn
{
    -fx-background-color:#00D1FF;
    -fx-background-radius: 15px;
    -fx-pref-height: 60px;
    -fx-pref-width: 448px;
    
    /*-fx-font-family: "Font";*/
    -fx-text-fill: white;
    
}
#twoPlayersBtn
{
    -fx-background-color:#FF76CB;
    -fx-background-radius: 15px;
    -fx-pref-height: 60px;
    -fx-pref-width: 448px;
    
    
    -fx-text-fill: white;
    
}
#onlineBtn
{
    -fx-background-color:#FFCE36;
    -fx-background-radius: 15px;
    -fx-pref-height: 60px;
    -fx-pref-width: 448px;
    
    
    -fx-text-fill: white;
    
}
#easyButton
{
    -fx-background-color:#00D1FF;
    -fx-background-radius: 15px;
    -fx-pref-height: 60px;
    -fx-pref-width: 448px;
    
    /*-fx-font-family: "Font";*/
    -fx-text-fill: white;
    
}
#meduimButton
{
    -fx-background-color:#FF76CB;
    -fx-background-radius: 15px;
    -fx-pref-height: 60px;
    -fx-pref-width: 448px;
    
    
    -fx-text-fill: white;
    
}
#hardButton
{
    -fx-background-color:#FFCE36;
    -fx-background-radius: 15px;
    -fx-pref-height: 60px;
    -fx-pref-width: 448px;
    
    
    -fx-text-fill: white;
    
}
#singleImg
{
        -fx-image: url('/assets/single.png');
    -fx-fit-width: 116px;
    -fx-fit-height: 116px;
}
#twoPlayersImg
{
    -fx-image: url('/assets/multi-players.png');
    -fx-fit-width: 116px;
    -fx-fit-height: 116px;
}
#onlineImg
{
    -fx-image: url('/assets/online.png');
    -fx-fit-width: 116px;
    -fx-fit-height: 116px;
}
#easyImg
{
        -fx-image: url('/assets/easy.png');
    -fx-fit-width: 116px;
    -fx-fit-height: 116px;
}
#meduimImg
{
    -fx-image: url('/assets/medium.png');
    -fx-fit-width: 116px;
    -fx-fit-height: 116px;
}
#hardImg
{
    -fx-image: url('/assets/hard.png');
    -fx-fit-width: 116px;
    -fx-fit-height: 116px;
}
#recordImg
{
   -fx-image: url('/assets/record.png'); 
}
#recordVBox
{
    -fx-background-color: #FF76CB;
    -fx-background-radius: 0 50 50 50 ; 
    -fx-pref-width:70px;
    -fx-pref-height:70px;
}
#aboutVBox
{
    -fx-background-color:  #00D1FF;
    -fx-background-radius: 0 50 50 50 ; 
    -fx-pref-width:70px;
    -fx-pref-height:70px;
}

